<div class="header">

    <div class="header_info">
        <h1>Front-end developer</h1>
        <p>Hello i'm</p>
        <h2>Jhonier Martinez</h2>
        <p>A passionate frontend developer dedicated to crafting engaging and user-friendly digital experiences. Let's build something amazing together!.</p>
        <a href="https://wa.me/573217742884" target="_blank">Contact</a>
    </div>

    <div class="header_photo">
        <div class="photo_circle">
            <div class="circle_background"></div>
        </div>
        <img src="assets/img/hacker.png" alt="Photo">
        <div class="header_circle"></div>
        <div class="header_circle2"></div>
        <div class="header_circle3"></div>
    </div>


</div>