<div class="aboutMe">

    <div class="aboutMe_container">
        <div class="aboutMe_photo"></div>

        <div class="aboutMe_info">

            <div class="info_header">
                <h1>Front-end</h1>
                <p></p>
            </div>

            <div class="info_personal">
                <p>
                    I'm driven by the fusion of design and functionality, creating digital experiences that users love. I specialize in crafting seamless interfaces using technologies like Angular, turning ideas into visually engaging and responsive applications.
                </p>
            </div>

            <div class="info_line"></div>

            <div class="info_aboutMe">
                <ul>
                    <li><h4>Age: </h4><p>21</p></li>
                    <li><h4>Carrear: </h4><p>System engineering</p></li>
                    <li><h4>University: </h4><p>Unicatolica</p></li>
                    <li><h4>From: </h4><p>Cali, Colombia</p></li>
                </ul>
            </div>
            <div class="info_experience">
                <ul>
                    <li><img src="../../../../../assets/img/logoAngular.svg" alt=""></li>
                    <li><img src="../../../../../assets/img/logoCss.svg" alt=""></li>
                    <li><img src="../../../../../assets/img/logojs.svg" alt=""></li>
                    <li><img src="../../../../../assets/img/logoNodeJs.svg" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
</div>
